
<ion-content>
  <section class="mainSection">
      <div class="customContainer">
          <div class="leftSidebar">
              <div class="logoLeft">
                  <a [routerLink]="['/home']">
                      <img src="./assets/images/logo-g.png" title="my home | logo">
                  </a>
              </div>
              <ul class="nav navigationTop">
                  <li><a [routerLink]="['/home']">Home</a></li>
                  <li><a [routerLink]="['/parties']">Parties</a></li>
                  <li><a [routerLink]="['/rooms']" class="active color-g">Rooms</a></li>
                  <li><a [routerLink]="['/miscellaneous']">Miscellaneous</a></li>
                  <li><a [routerLink]="['/conclusion']">Conclusion</a></li>
              </ul>
          </div>
          <div class="rightSidebar">
              <div class="title">
                  <p>Übergabeprotokoll</p>
              </div>
              <div class="lgTitle">
                <h1 class="heading">Add new room</h1>
                <div class="editLink">
                  <span class="inlineBlock">
                    <a (click)="goToRoomsPage()" class="btn btn-sm btn-g">
                      <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                    </a>
                  </span>
                </div>
              </div>
              <div class="secAddRoom">
                <div class="formContainer">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="5">
                        <div class="customField">
                          <span class="fieldTitle">Room name</span>
                          <ion-input [(ngModel)]="roomName" type="text" ></ion-input>
                        </div>        
                      </ion-col>
                      <ion-col size="2"></ion-col>
                      <ion-col size="5">
                        <div class="customField">
                          <span class="fieldTitle">Room type</span>
                            <div class="selectCustom">
                              <ion-item>
                                <ion-select [(ngModel)]="roomType"  (ionChange)="addNewRoomType();">
                                    <ion-select-option *ngFor="let roomData of roomTypeData" value="{{roomData.id}}">{{roomData.name}}</ion-select-option>
                                    <ion-select-option value="new">Add New Room Type</ion-select-option>
                                </ion-select>
                                <span class="showCheckox"></span>
                              </ion-item>
                            </div>
                        </div>        
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <div class="componentListWrapper">
                  <span class="fieldTitle">Components</span>
                  <div class="componentList">
                      <ion-list>
                          <ion-item *ngFor="let roomComponent of roomComponentData;let i=index">
                            <ion-label>{{roomComponent.name}}</ion-label>
                            <ion-checkbox slot="end" (ionChange)="checkedComponent(i)" value="{{roomComponent.name}}" checked="{{roomComponent.checked}}"></ion-checkbox>
                            <span class="showCheckox"></span>
                          </ion-item>
                      </ion-list>
                      <div class="addNewcomponent" (click)="addNewComponent('Add Component')">
                        <a><ion-icon ios="ios-add" md="md-add"></ion-icon></a>
                      </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>
</ion-content>