
<ion-content>
  <section class="mainSection">
      <div class="customContainer">
          <div class="leftSidebar">
              <div class="logoLeft">
                  <a [routerLink]="['/home']">
                      <img src="./assets/images/logo-g.png" title="my home | logo">
                  </a>
              </div>
              <ul class="nav navigationTop">
                  <li><a [routerLink]="['/home']">Home</a></li>
                  <li><a [routerLink]="['/parties']">Parties</a></li>
                  <li><a [routerLink]="['/rooms']" class="active color-g">Rooms</a></li>
                  <li><a [routerLink]="['/miscellaneous']">Miscellaneous</a></li>
                  <li><a [routerLink]="['/conclusion']">Conclusion</a></li>
              </ul>
          </div>
          <div class="rightSidebar">
              <div class="title">
                  <p>Übergabeprotokoll</p>
              </div>
              <div class="lgTitle">
                <h1 class="heading">Add new room</h1>
                <div class="editLink">
                  <span class="inlineBlock">
                    <a (click)="goToRoomsPage()" class="btn btn-sm btn-g">
                      <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon> 
                    </a>
                  </span>
                </div>
              </div>
              <div class="secAddRoom">
                <div class="formContainer">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="5">
                        <div class="customField">
                          <span class="fieldTitle">Room name</span>
                          <ion-input [(ngModel)]="roomName" type="text" ></ion-input>
                        </div>        
                      </ion-col>
                      <ion-col size="2"></ion-col>
                      <ion-col size="5">
                        <div class="customField">
                          <span class="fieldTitle">Room type</span>
                            <div class="selectCustom">
                              <ion-item>
                                <ion-select [(ngModel)]="roomType" >
                                    <ion-select-option value="u1">Unit 1</ion-select-option>
                                    <ion-select-option value="u2">Unit 2</ion-select-option>
                                    <ion-select-option value="u3">Unit 3</ion-select-option>
                                    <ion-select-option value="u4">Unit 4</ion-select-option>
                                </ion-select>
                              </ion-item>
                            </div>
                        </div>        
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <div class="componentListWrapper">
                  <span class="fieldTitle">Components</span>
                  <div class="componentList">
                      <ion-list>
                          <ion-item>
                            <ion-label>Boden</ion-label>
                            <ion-checkbox slot="end" value="Boden"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                              <ion-checkbox slot="end" value="Wände"></ion-checkbox>
                            <ion-label>Wände</ion-label>
                          </ion-item>
                          <ion-item>
                            <ion-label>Decke</ion-label>
                            <ion-checkbox slot="end" value="Decke"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Wohnungstüre / Schloss</ion-label>
                            <ion-checkbox slot="end" value="Wohnungstüre / Schloss"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Türe</ion-label>
                            <ion-checkbox slot="end" value="Türe"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Türzarge</ion-label>
                            <ion-checkbox slot="end" value="Türzarge"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Türöffner / Gegensprechanlage</ion-label>
                            <ion-checkbox slot="end" value="Türöffner / Gegensprechanlage"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Wandplatten</ion-label>
                            <ion-checkbox slot="end" value="Wandplatten"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Anstrich</ion-label>
                            <ion-checkbox slot="end" value="Anstrich"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Fenster</ion-label>
                            <ion-checkbox slot="end" value="Fenster"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Sims</ion-label>
                            <ion-checkbox slot="end" value="Sims"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Sonnenschutz</ion-label>
                            <ion-checkbox slot="end" value="Sonnenschutz"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Vorhangschiene</ion-label>
                            <ion-checkbox slot="end" value="Vorhangschiene"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kurbel / Getriebe</ion-label>
                            <ion-checkbox slot="end" value="Kurbel / Getriebe"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Abdeckung</ion-label>
                            <ion-checkbox slot="end" value="Abdeckung"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Schränke / Schublade</ion-label>
                            <ion-checkbox slot="end" value="Schränke / Schublade"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Schränke / Garderobe</ion-label>
                            <ion-checkbox slot="end" value="Schränke / Garderobe"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Spültrog</ion-label>
                            <ion-checkbox slot="end" value="Spültrog"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Armatur</ion-label>
                            <ion-checkbox slot="end" value="Armatur"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Abzug / Filter</ion-label>
                            <ion-checkbox slot="end" value="Abzug / Filter"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Backofen / Steamer</ion-label>
                            <ion-checkbox slot="end" value="Backofen / Steamer"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Geschirrspülmaschine</ion-label>
                            <ion-checkbox slot="end" value="Geschirrspülmaschine"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kühlschrank / Tiefkühler</ion-label>
                            <ion-checkbox slot="end" value="Kühlschrank / Tiefkühler"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Abfallelement</ion-label>
                            <ion-checkbox slot="end" value="Abfallelement"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Beleuchtung</ion-label>
                            <ion-checkbox slot="end" value="Beleuchtung"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Lichtschalter / Steckdose</ion-label>
                            <ion-checkbox slot="end" value="Lichtschalter / Steckdose"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Sicherungskasten</ion-label>
                            <ion-checkbox slot="end" value="Sicherungskasten"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Küchenfront</ion-label>
                            <ion-checkbox slot="end" value="Küchenfront"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Kochfeld</ion-label>
                            <ion-checkbox slot="end" value="Kochfeld"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Schwedenofen</ion-label>
                            <ion-checkbox slot="end" value="Schwedenofen"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Lichtschalter / Steckdose / Multimedia</ion-label>
                            <ion-checkbox slot="end" value="Lichtschalter / Steckdose / Multimedia"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Beleuchtung / Steckdose</ion-label>
                            <ion-checkbox slot="end" value="Beleuchtung / Steckdose"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Geländer</ion-label>
                            <ion-checkbox slot="end" value="Geländer"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Toilette</ion-label>
                            <ion-checkbox slot="end" value="Toilette"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Badewanne</ion-label>
                            <ion-checkbox slot="end" value="Badewanne"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Brause / Schlauch</ion-label>
                            <ion-checkbox slot="end" value="Brause / Schlauch"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Badetuchstange</ion-label>
                            <ion-checkbox slot="end" value="Badetuchstange"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Lavabo</ion-label>
                            <ion-checkbox slot="end" value="Lavabo"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Papierhalter</ion-label>
                            <ion-checkbox slot="end" value="Papierhalter"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Handtuchhalter</ion-label>
                            <ion-checkbox slot="end" value="Handtuchhalter"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Handtuchradiator</ion-label>
                            <ion-checkbox slot="end" value="Handtuchradiator"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Spiegelschrank / Licht</ion-label>
                            <ion-checkbox slot="end" value="Spiegelschrank / Licht"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                            <ion-label>Lüftung / Filter</ion-label>
                            <ion-checkbox slot="end" value="Lüftung / Filter"></ion-checkbox>
                          </ion-item>
                      </ion-list>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>
</ion-content>