.secAddRoom{
    .customField{
        ion-input {
            background: var(--ion-complete-color)!important;
            height: 50px!important;
            border-radius: 8px!important;
            border: 1px solid var(--ion-border-light)!important;
            padding: 0 10px!important;
        }
        ion-item{
            --background: transparent!important;
            --border: none!important;
            --highlight-color-valid: transparent;
            --highlight-color-invalid: transparent;
            --highlight-color-focused: none;
        }
        .selectCustom{
            background: var(--ion-complete-color)!important;
            height: 50px!important;
            border-radius: 8px!important;
            border: 1px solid var(--ion-border-light)!important;
            ion-select{
                padding: 0;
                select-icon{
                    opacity: 0!important;
                }
            }
        }
    }
    .fieldTitle{
        color: var(--ion-balticsea-color);
        font-size: 18px;
        margin-bottom: 20px;
        display: block;        
        font-weight: 500;  
    }
    .componentListWrapper {
        margin-top: 40px;
    }
    .componentList {
        box-shadow: var(--ion-shadow-card);
        overflow: hidden;
        border-radius: 8px;
        .list-md{
            max-width: 100%;
            padding: 0 0 0 10px;
            ion-item{
                --background: transparent!important;
                --background-activated: none!important;
                --background-focused: none!important;
                --background-hover: none!important;
                ion-label{
                    color: var(--ion-balticsea-color);
                    font-size: 18px;
                    font-weight: 300;
                    padding: 18px 0;
                    display: block;
                    margin: 0;
                }
                ion-checkbox{
                    opacity: 0;
                    margin: 0;
                }
                .showCheckox{
                    height: 20px;
                    width: 28px;
                    background: url(../../assets/images/icon-check-w.png) center center no-repeat;
                    background-size: 22px;
                }
                &.item-checkbox-checked{
                    .showCheckox{
                        background: url(../../assets/images/icon-check-b.png) center center no-repeat;
                        background-size: 22px;
                    }
                }
            }
            ion-checkbox{
                .checkbox-icon{
                    --display: none;
                }
            }
        }
    }
}