
<ion-content>
  <section class="mainSection">
      <div class="customContainer">
          <div class="leftSidebar">
              <div class="logoLeft">
                  <a [routerLink]="['/home']">
                      <img src="./assets/images/logo-g.png" title="my home | logo">
                  </a>
              </div>
              <ul class="nav navigationTop">
                  <li><a [routerLink]="['/home']">Home</a></li>
                  <li><a [routerLink]="['/parties']">Parties</a></li>
                  <li><a [routerLink]="['/room-create-request']" class="active color-g">Rooms</a></li>
                  <li><a [routerLink]="['/miscellaneous']">Miscellaneous</a></li>
                  <li><a [routerLink]="['/conclusion']">Conclusion</a></li>
              </ul>
          </div>
          <div class="rightSidebar">
              <div class="title">
                  <p>Übergabeprotokoll</p>
              </div>
              <div class="lgTitle">
                <h1 class="heading">Add new room</h1>
                <div class="editLink">
                  <span class="inlineBlock">
                    <a href="#" class="btn btn-sm btn-g">
                      <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon> 
                    </a>
                  </span>
                </div>
              </div>
              <div class="secAddRoom">
                <div class="formContainer">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="5">
                        <div class="customField">
                          <span class="fieldTitle">Room name</span>
                          <ion-input type="text" ></ion-input>
                        </div>        
                      </ion-col>
                      <ion-col size="2"></ion-col>
                      <ion-col size="5">
                        <div class="customField">
                          <span class="fieldTitle">Room type</span>
                          <ion-input type="text" ></ion-input>
                        </div>        
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
          </div>
      </div>
  </section>
</ion-content>