.secAddRoom{
    .customField{
        ion-input {
            background: var(--ion-complete-color)!important;
            height: 50px!important;
            border-radius: 8px!important;
            border: 1px solid var(--ion-border-light)!important;
        }
        ion-item{
            --background: transparent!important;
            --border: none!important;
        }
        .selectCustom{
            background: var(--ion-complete-color)!important;
            height: 50px!important;
            border-radius: 8px!important;
            border: 1px solid var(--ion-border-light)!important;
        }
    }
    .fieldTitle{
        color: var(--ion-balticsea-color);
        font-size: 18px;
        margin-bottom: 20px;
        display: block;        
        font-weight: 500;  
    }
    .componentListWrapper {
        margin-top: 40px;
    }
    .componentList {
        .list-md{
            max-width: 100%;
            border-radius: 8px;
            padding: 0 0 0 10px;
            ion-item{
                ion-label{
                    color: var(--ion-balticsea-color);
                    font-size: 18px;
                    font-weight: 400;
                    padding: 18px 0;
                    display: block;
                    margin: 0;
                }
            }
            // .item-checkbox-checked{
            //     background: url(../../assets/images/icon-check.png) no-repeat;
            //     background-size: 20px;
            //     background-position: 98% 50%;
            // }
            ion-checkbox{
                .checkbox-icon{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
}