
<ion-content>
  <section class="mainSection">
      <div class="customContainer">
        <div class="leftSidebar">
            <div class="logoLeft">
              <a [routerLink]="['/home']">
                <img src="./assets/images/logo.png" title="my home | logo">
              </a>
            </div>
            <ul class="nav navigationTop">
              <li><a [routerLink]="['/home']" class="active">Home</a></li>
            </ul>
            <!-- <div class="btnWrapper">
              <ion-buttons>
                <ion-back-button></ion-back-button>
              </ion-buttons>
              <ion-title class="btn btnPrimary" (click)="goToParties()">
                Neu <span class="icon borderRound"><img src="./assets/images/add.png" alt="icon add"></span>
            </ion-title>
            </div> -->
        </div>
        <div class="rightSidebar">
            <div class="title">
              <p>Home</p>
            </div>
            <div class="lgTitle">
              <h1 class="heading">Neues Protokoll erstellen</h1>
              <div class="editLink">
                <span class="inlineBlock">
                  <ion-buttons>
                    <ion-button></ion-button>
                  </ion-buttons>
                  <ion-title (click)="goToParties()">Weiter</ion-title>
              </span>
              </div>
            </div>
            <div class="protocolList">
              <ion-list radio-group ngDefaultControl>
                <ion-radio-group name=“radio-group” [(ngModel)]="selectedProtocol">
                  <ion-item *ngFor="let protocol of protocolList">
                    <ion-label>{{protocol.title}}</ion-label>
                    <ion-radio mode="ios" slot="end" value="{{protocol.title}}"></ion-radio>
                  </ion-item>

                </ion-radio-group>
              </ion-list>
            </div>
        </div>
      </div>
  </section>
</ion-content>
