
<ion-content>
  <section class="mainSection">
      <div class="customContainer">
        <div class="leftSidebar">
            <div class="logoLeft">
              <a [routerLink]="['/home']">
                <img src="./assets/images/logo.png" title="my home | logo">
              </a>
            </div>
            <ul class="nav navigationTop">
              <li><a href="#" class="active">Home</a></li>
            </ul>
            <div class="btnWrapper">
              <ion-buttons>
                <ion-back-button></ion-back-button>
              </ion-buttons>
              <ion-title class="btn btnPrimary" (click)="goToParties()">
                Neu <span class="icon borderRound"><img src="./assets/images/add.png" alt="icon add"></span>
            </ion-title>
            </div>
        </div>
        <div class="rightSidebar">
            <div class="title">
              <p>Home</p>
            </div>
            <div class="lgTitle">
              <h1 class="heading">Neues Protokoll erstellen</h1>
              <div class="editLink">
                <span class="inlineBlock">
                  <ion-buttons>
                    <ion-button></ion-button>
                  </ion-buttons>
                  <ion-title (click)="goToParties()">Weiter</ion-title>
              </span>
              </div>
            </div>
            <div class="protocolList">
              <ion-list radio-group ngDefaultControl>
                <ion-radio-group name=“radio-group” [(ngModel)]="protocol">
                  <ion-item>
                    <ion-label>Bauphase</ion-label>
                    <ion-radio mode="ios" slot="end" value="Bauphase"></ion-radio>
                  </ion-item>
              
                  <ion-item>
                      <ion-radio mode="ios" slot="end" value="Rohbauabnahme"></ion-radio>
                    <ion-label>Rohbauabnahme</ion-label>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>Vorabnahme</ion-label>
                    <ion-radio mode="ios" slot="end" value="Vorabnahme"></ion-radio>
                  </ion-item>
                  <ion-item>
                      <ion-label>Bauabnahme</ion-label>
                      <ion-radio mode="ios" slot="end" value="Bauabnahme"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Abnahme</ion-label>
                        <ion-radio mode="ios" slot="end" value="Abnahme" checked></ion-radio>
                      </ion-item>
                      <ion-item>
                          <ion-label>Übergabe</ion-label>
                          <ion-radio mode="ios" slot="end" value="Übergabe"></ion-radio>
                        </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
        </div>
      </div>
  </section>
</ion-content>
