.mainSection{
    .leftSidebar{
        
        .navigationTop{
            li{
                padding-bottom: 0;
            }
        }
        .btnWrapper{
            padding: 50px 60px;
            ion-title{
                padding: 0 42px;
                text-align: initial;
                .icon{
                    float: right;
                }
            }
        }
    }
    .protocolList {
        .list-md{
            max-width: 90%;
            border-radius: 8px;
            padding: 0 0 0 20px;
            ion-item{
                ion-label{
                    color: var(--ion-placeholder-color);
                    font-size: 18px;
                    font-weight: 100;
                    padding: 24px 0;
                    display: block;
                    margin: 0;
                }
            }
        }
    }
}