<section class="loginPage">
  <div class="loginWrapper">
    <div class="floatCenter">
      <div class="cardBoard">
        <div class="logoHolder">
          <img src="./assets/images/logo.png" alt="logo">
        </div>
        <h1>Login</h1>
        <p>Use your credentials to access your account.</p>
        <div class="formWrapper">
          <div class="field">
            <ion-input [(ngModel)]="userInfo.email" type="email" placeholder="Email"></ion-input>
          </div>
          <div class="field">
            <ion-input [(ngModel)]="userInfo.password" type="password" placeholder="Password"></ion-input>
          </div>
          <ion-row>
            <ion-col size="6">
              <div class="checkBox">
                  <ion-checkbox color="primary" (ionChange)="changeValue();"></ion-checkbox>
                  <ion-label>Remember me</ion-label>
              </div>
            </ion-col>
            <!-- <ion-col size="6">
              <div class="forgotLink"><a href="#">Forgot Password</a></div>
            </ion-col> -->
          </ion-row>
          <div class="btnWrapper">
            <ion-buttons>
              <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title (click)="gotoHome()" class="btn btnPrimary">
              <span>Login</span>
            </ion-title>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>