<ion-content>
  <section class="mainSection">
      <div class="customContainer">
          <div class="leftSidebar">
              <div class="logoLeft">
                <a [routerLink]="['/home']">
                      <img src="./assets/images/logo-g.png" title="my home | logo">
                  </a>
              </div>
              <ul class="nav navigationTop">
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/parties']">Parties</a></li>
                <li><a [routerLink]="['/rooms']">Rooms</a></li>
                <li><a [routerLink]="['/miscellaneous']">Miscellaneous</a></li>
                <li><a [routerLink]="['/conclusion']" class="active color-g">Conclusion</a></li>
            </ul>
          </div>
          <div class="rightSidebar">
              <div class="title">
                  <p>Übergabeprotokoll</p>
              </div>
              <div class="lgTitle mb-5">
                  <h1 class="heading">Conclusion</h1>
                  <div class="editLink">
                      <span class="inlineBlock">
                            <a [routerLink]="['/home']" class="btn btn-sm btn-g">
                             <img src="./assets/images/icon-logout.png" alt="icon logout">
                            </a>
                        </span>
                  </div>
              </div>
              <div class="formWrapper">
                <div class="formContainer">
                        <!-- <ion-item>
                                <ion-label>Date</ion-label>
                                <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
                              </ion-item>        -->
                  <div class="field">
                      <ion-input placeholder="City"></ion-input>
                  </div>
                  <div class="field">
                      <ion-input placeholder="Date" (click)="datePick()"></ion-input>
                  </div>
                  <p><button ion-button class="btn w-100 btn-balticsea"  (click)="createpdf()"  >PDF Preview</button><br>
                  <button ion-button class="btn w-100 btn-balticsea"  (click)="downloadpdf()"  >Download</button></p>
                </div>
              </div>
              <div class="signatureWrapper">
                <!-- <button >Signature Resident (incoming)</button> -->
                <div class="signatureShowcaseContainer">
                    <label>Signature Resident (incoming)</label>
                    <div class="signatureShowcase" (click)="presentPopover('Signature Resident (incoming)')">
                        <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
                            AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
                            9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />
                    </div>
                </div>
                <div class="signatureShowcaseContainer">
                    <label>Signature Resident (outgoing)</label>
                    <div class="signatureShowcase" (click)="presentPopover('Signature Resident (incoming)')">
                        <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
                            AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
                            9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />
                    </div>
                </div>
                <div class="signatureShowcaseContainer">
                    <label>Signature TU / GU*</label>
                    <div class="signatureShowcase" (click)="presentPopover('Signature Resident (incoming)')">
                        <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
                            AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
                            9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />
                    </div>
                </div>
                <div class="signatureShowcaseContainer">
                    <label>Signature Real estate company</label>
                    <div class="signatureShowcase" (click)="presentPopover('Signature Resident (incoming)')">
                        <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
                            AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
                            9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />
                    </div>
                </div>
                <!-- <div class="normalTextarea">
                    <label>Signature Resident (incoming)</label>
                      <signature-pad class="signature-pad" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                </div> -->
                <!-- <div class="normalTextarea">
                    <label>Signature Resident (outgoing)*</label>
                    <signature-pad class="signature-pad" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                </div> -->
                <!-- <div class="normalTextarea">
                    <label>Signature TU / GU*</label>
                    <signature-pad class="signature-pad" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                </div> -->
                <!-- <div class="normalTextarea">
                    <label>Signature Real estate company</label>
                    <signature-pad class="signature-pad" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                </div> -->
              </div>
          </div>
      </div>
  </section>
</ion-content>