ion-item{
    --border-color: transparent;
    --padding-end: 0;
    --padding-start: 0;
    --color: var( --ion-primary-color);
    
    --background: var( --ion-color-dark-contrast,var(--ion-background-color,#fff));
    --background-activated: var(--background);
    --background-focused: var( --ion-color-dark-contrast,var(--ion-color-step-100,#fff));
    --background-hover: var( --ion-color-dark-contrast,rgba(var(--ion-text-color-rgb,0,0,0),0.04));
    --color: var( --ion--placeholder-color,var( --ion--placeholder-color,#262626));
    font-size: 18px;
    --transition: background-color 0ms cubic-bezier(0,0,0,0);
}
ion-label{
    margin:0;
    min-height: 60px;
    line-height: 60px;
}
.select-icon-inner{
    --display: none;
}
.icon {
    max-width: 32px;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background: var(--ion-color-medium-contrast);
    padding: 7px;
    z-index: 9;
}
.btn.btn-sm{
    padding: 6px;
}

.signatureWrapper{
    .signatureShowcaseContainer{
        label{
            font-size:18px;
            padding: 10px 20px;
            display: block;
        }
        .signatureShowcase {
            max-height: 220px;
            min-height: 220px;
            background: var(--ion-color-medium-contrast);
            border-radius: 8px;
            margin-bottom: 20px;
            cursor: pointer;
            overflow: hidden;
            margin: 0 auto;
            text-align: center;
            img{
                max-height: 220px;
                padding: 5px;
                width: auto;
            }
        }
    }
}