<ion-content>
  <section class="mainSection">
    <div class="customContainer">
      <div class="leftSidebar">
        <div class="logoLeft">
          <a [routerLink]="['/home']">
            <img src="./assets/images/logo-g.png" title="my home | logo">
          </a>
        </div>
        <ul class="nav navigationTop">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/parties']">Parties</a></li>
          <li><a [routerLink]="['/rooms']">Rooms</a></li>
          <li><a [routerLink]="['/miscellaneous']" class="active color-g">Miscellaneous</a></li>
          <li><a [routerLink]="['/conclusion']">Conclusion</a></li>
        </ul>
      </div>
      <div class="rightSidebar">
        <div class="title">
          <p></p>
        </div>
        <div class="lgTitle">
          <h1 class="heading"></h1>
          <div class="editLink">
            <span class="inlineBlock">
              <a (click)="goTomiscellaneous()" class="btn btn-sm btn-g">
                <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
              </a>
            </span>
          </div>
        </div>
        <div class="formWrapper">
          <h3>Action</h3>

          <div class="protocolList">
           <ion-list radio-group ngDefaultControl>
             <ion-radio-group name=“radio-group” [(ngModel)]="protocol">
              <ion-item (click)="isManual=false">
                <ion-label>1</ion-label>
                <ion-radio mode="ios" slot="end" value="1" ></ion-radio>
              </ion-item>
              <ion-item (click)="isManual=false">
                <ion-label>2</ion-label>
                <ion-radio mode="ios" slot="end" value="2" ></ion-radio>
              </ion-item> 
              <ion-item (click)="isManual=false">
                <ion-label>3</ion-label>
                <ion-radio mode="ios" slot="end" value="3" ></ion-radio>
              </ion-item>
              <ion-item (click)="isManual=false">
                <ion-label>4</ion-label>
                <ion-radio mode="ios" slot="end" value="4" ></ion-radio>
              </ion-item>
              <ion-item (click)="isManual=false">
                <ion-label>5</ion-label>
                <ion-radio mode="ios" slot="end" value="5" ></ion-radio>
              </ion-item>
              <ion-item (click)="isManual=true">
                <ion-label>Manual</ion-label>
                <ion-radio mode="ios" slot="end" value="manualProtocol"></ion-radio>
              </ion-item>
              <ion-item *ngIf="isManual">
                <ion-input [(ngModel)]="manualProtocol" type="number" placeholder="Enter Manual Value!"></ion-input>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</section>
</ion-content>