html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    letter-spacing: 1px;
}
  
/* HTML5 display-role reset for older browsers */
  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
  
body {
    line-height: 1;
    color: var(--ion-font-color);
    font-family: var(--ion-font-family);
}
  
ol, ul {
    list-style: none; 
}
  
blockquote, q {
    quotes: none; 
}
  
blockquote {
    &:before, &:after {
      content: '';
      content: none; 
    } 
}
  
q {
    &:before, &:after {
        content: '';
        content: none; 
    } 
}
  
table {
    border-collapse: collapse;
    border-spacing: 0; 
}

a{
    text-decoration: none;
    cursor: pointer;
    &:hover, &:focus{
        box-shadow: none;
    }
}

img{
    width: 100%;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
.w-100{
    width: 100%;
}

button{
    box-shadow: none;
    outline: none;
}
.btn {
    display: flex;
    height: 58px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 18px;
    background-color: var(--ion-color-medium);
    color: var(--ion-font-color);
    font-weight: 500;
    letter-spacing: 1.2px;
    cursor: pointer;
    &.btnPrimary{
        background-color: var(--ion-theme-primary-color);
        color: var(--ion-color-medium-contrast);
    }
    &.btn-sm {
        height: 35px;
        padding: 0;
        border-radius: 10px;
        width: 35px;
        font-size: 28px;
    }
    &.btn-g {
        background: var(--ion-theme-secondary-color);
        color: var(--ion-color-medium-contrast);
    }
    &.btn-balticsea{
        background: var(--ion-balticsea-color);
        color: var(--ion-color-medium-contrast);
        font-weight: 300;
    }
}
.toolbar-background{
    background: var(--ion-theme-none-color);
}
ion-title {
    padding: 0 10px;
}
.field{
    margin-bottom: 5px;
    position: relative;
    input, .item-select{
        background: var(--ion-color-medium-contrast) !important;
        min-height: 60px;
        color: var(--ion-placeholder-color)!important;
        padding: 0 15px !important;
        font-size: 18px!important;
        border-radius: 8px!important;
        font-weight: 100!important;
        --placeholder-font-weight:100!important;
    }
    .cstmSelect{
        background: var(--ion-color-medium-contrast) ;
        min-height: 60px;
        color: var(--ion-placeholder-color);
        padding: 0 20px ;
        font-size: 18px;
        border-radius: 8px;
        line-height: 60px;
        font-weight: 100;
        cursor: pointer;
    }
    .outCome {
        position: absolute;
        z-index: 99;
        color: var(--ion-placeholder-color);
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding-right: 50px;
        font-weight: 100;
        margin-top: -1px;
    }
    .iconAction {
        position: absolute;
        right: 30px;
        top: 50%;
        z-index: 9;
        transform: translateY(-50%);
        .nothing{
            background: transparent;
            padding: 0;
            max-width: 18px;
            .button-native{
                box-shadow: none!important;
                background: transparent!important;
                max-width: 20px!important;
                padding: 0!important;            
            }
        }
    }
    .icon {
        max-width: 32px;
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        padding: 7px;
        z-index: 9;
    }
    &.preData{
        input{
            font-weight: 400!important;
        }
    }
    .sc-ion-input-md-h{
        --placeholder-color: var(--ion-placeholder-color)!important;
        --placeholder-opacity: 1;
    }
    &.darkField{
        .sc-ion-input-md-h{
            --placeholder-color: var(--ion-color-medium-contrast)!important;
        }
        input{
            background: var( --ion-dark-field) !important;
            color: var(--ion-color-medium-contrast)!important;
        }
        .cstmSelect{
            background: var(--ion-dark-field) ;
            color: var(--ion-color-medium-contrast);
        }
        .outCome {
            color: var(--ion-color-medium-contrast);
        }
    }
}
.textareaWrapper{
    position: relative;
    border-radius: 8px;
    background: var(--ion-color-medium-contrast);
    margin-bottom: 5px;
    textarea {
        resize: none;
        width: 100%;
        border: none;
        padding: 15px;
        font-size: 18px!important;
        font-weight: 300!important;
        color: var(--ion-placeholder-color);
        outline: none;
        margin-top: 48px;
        border-radius: 8px;
    }
    .floatTitle {
        display: block;
        width: 96.5%;
        position: absolute;
        top: 0;
        left: 15px;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 300;
        background: var(--ion-color-medium-contrast);
        border-bottom: 1px solid var(--ion-border-light);
        color: var(--ion-placeholder-color);
        font-weight: 100;
    }
    &.darkField{
        background: var(--ion-dark-field);
        textarea{
            background: var(--ion-dark-field);
            color: var(--ion-color-medium-contrast);
        }
        .floatTitle{
            background: var(--ion-dark-field);
            border-color: var(--ion-dark-field-line);
            color: var(--ion-color-medium-contrast);
        }
    }
}
html{
    body{
        .alert-wrapper.sc-ion-alert-md {
            width: 100%;
            max-width: 450px;
            .alert-message.sc-ion-alert-md {
                font-size: 18px;
                line-height: 1.5;
            }
        }
        .icon-inner{
            display: flex!important;
            align-items: center!important;
        }
        ion-label{
            font-weight: 400;
        }
        ion-auto-complete {
            width: 100%;
            display: inline-block;
        }
        ion-auto-complete ul {
            position: absolute;
            width: 550px;
            left: 50%;
            padding-left: 20px;
            border-radius: 8px;
            color: var(--placeholder-color);
            font-weight: 100;
            bottom: auto;
            margin-top: 10px;
            transform: translateX(-50%);
            &::before{
                position: absolute;
                content: "";
                height: 30px;
                width: 30px;
                background-image: url(../assets/images/diamond.png);
                background-repeat: no-repeat;
                left: 50%;
                top: -12px;
                background-size: cover;
            }
            li{
                border-color: var(--ion-placeholder-color);
                span{
                    font-size: 18px;
                }
            }
        }
        .searchbar-input.sc-ion-searchbar-md{
            box-shadow: none;
            font-weight: 400!important;
            line-height: 1.4;
            padding: 0 20px!important;
        }
        .searchbar-has-focus.sc-ion-searchbar-md-h .searchbar-search-icon.sc-ion-searchbar-md, ion-icon.searchbar-search-icon.sc-ion-searchbar-md{
            display: none;
        }
        .sc-ion-searchbar-md-h{
            --placeholder-opacity: 1;
        }
        ion-auto-complete ul li:focus, ion-auto-complete ul li.focus, ion-auto-complete ul li:hover{
            background: transparent;
        }
    }
}
.posIn{
    position: inherit;
}