<section class="loginPage">
  <div class="loginWrapper">
    <div class="floatCenter">
      <div class="cardBoard">
        <div class="logoHolder">
          <img src="./assets/images/logo.png" alt="logo">
        </div>
        <h1>Reset Your password</h1>
        <p>Please enter your email address and we will send you a password password link.</p>
        <div class="formWrapper">
          <div class="field">
            <ion-input type="email" placeholder="Email"></ion-input>
          </div>
          <div class="btnWrapper">
            <ion-buttons>
              <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title class="btn btnPrimary">
              <span>Send Reset Link</span>
            </ion-title>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>