
<ion-content>
    <section class="mainSection">
        <div class="customContainer">
            <div class="leftSidebar">
                <div class="logoLeft">
                    <a [routerLink]="['/home']">
                        <img src="./assets/images/logo-g.png" title="my home | logo">
                    </a>
                </div>
                <ul class="nav navigationTop">
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li><a [routerLink]="['/parties']">Parties</a></li>
                    <li><a [routerLink]="['/room-create-request']" class="active color-g">Rooms</a></li>
                    <li><a [routerLink]="['/miscellaneous']">Miscellaneous</a></li>
                    <li><a [routerLink]="['/conclusion']">Conclusion</a></li>
                </ul>
            </div>
            <div class="rightSidebar">
                <div class="title">
                    <p>Übergabeprotokoll</p>
                </div>
                <div class="lgTitle">
                  <h1 class="heading">Räume: <span class="object">Korridor</span></h1>
                  <div class="editLink">
                    <span class="inlineBlock">
                      <a href="#" class="btn btn-sm btn-g">
                        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon> 
                      </a>
                    </span>
                  </div>
                </div>
                <div class="secObjectList">
                  <ion-list>
                    <ion-item-sliding>                      
                      <ion-item>
                        <ion-label>Boden</ion-label>
                      </ion-item>
                      <ion-item-options side="end">
                        <ion-item-option (click)="clear(item)">löschen</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>

                    <ion-item-sliding>                      
                      <ion-item>
                        <ion-label>Boden</ion-label>
                      </ion-item>
                      <ion-item-options side="end">
                        <ion-item-option (click)="clear(item)">löschen</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>

                    <ion-item-sliding>                      
                      <ion-item>
                        <ion-label>Boden</ion-label>
                      </ion-item>
                      <ion-item-options side="end">
                        <ion-item-option (click)="clear(item)">löschen</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    
                    <ion-item-sliding>                      
                      <ion-item>
                        <ion-label>Boden</ion-label>
                      </ion-item>
                      <ion-item-options side="end">
                        <ion-item-option (click)="clear(item)">löschen</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                  </ion-list>
                </div>
            </div>
        </div>
    </section>
  </ion-content>