.mainSection{
    .leftSidebar{
        .navigationTop{
            li{
                padding-bottom: 0;
            }
        }
        .btnWrapper{
            padding: 40px;
        }
    }
    .rightSidebar {
        padding: 40px;
        .title{
            padding: 0 30px;
        }
        .lgTitle{
            padding: 0 30px;
            .inlineBlock{
                margin-left: 50px;
            }
        }
        .cardboxWrapper{
            display: flex;
            flex-wrap: wrap;
            .cardBoxContainer{
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                padding: 0 15px 30px;
                .cardBox {
                    width: 100%;
                    background: var(--ion-font-light-color);
                    padding: 80px 40px 50px;
                    box-shadow: var(--ion-shadow);
                    position: relative;
                    cursor: pointer;
                    &.primaryBg{
                        background-color: var(--ion-theme-primary-color);
                    }
                    &.secondaryBg{
                        background-color: var(--ion-theme-secondary-color);
                    }
                    .icon{
                        position: absolute;
                        right: 28px;
                        max-width: 40px;
                        top: 28px;
                    }
                    .cardHeading {
                        margin: 0;
                        font-size: 20px;
                        color: var(--ion-color-primary-contrast);
                        min-height: 220px;
                    }
                    p{
                        color: var(--ion-color-primary-contrast);
                        font-size: 20px;
                        font-weight: 100;
                        letter-spacing: 1px;
                        line-height: 1.2;
                        a{
                            border-bottom: 1px solid var(--ion-color-primary-contrast);
                            color: var(--ion-color-primary-contrast);
                        }
                    }
                    .radioBox {
                        height: 40px;
                        width: 40px;
                        background: rgba(255, 255, 255, 0.5);
                        border-radius: 50%;
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span.innerBorder {
                            height: 34px;
                            width: 34px;
                            border: 2px solid var(--ion-balticsea-color);
                            border-radius: 50%;
                            display: block;
                            background: var(--ion-balticsea-color);
                            padding:3px;
                            img{
                                transition: 0.3s all ease;
                                opacity: 0;
                            &.opacityShow{
                                opacity: 1;
                            }
                            }
                        }                        
                    }
                }
            }
            .seeMore{
                display: inline-block;
                width: 100%;
                text-align: right;
                z-index: 99;
                position: relative;
                .iconMore{
                    display: inline-block;
                    font-size: 30px;
                    transform: rotate(90deg);
                    color: var(--ion-balticsea-color);
                    .moreMenu {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        z-index: 900;
                        background-color: var(--ion-color-medium-contrast);
                        border: 1px solid var(--ion-font-light-color);
                        border-radius: 4px;
                        box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
                        opacity: 0;
                        transform: scale(.95) rotate(-90deg);
                        transition: transform 0.1s ease-out, opacity 0.1s ease-out;
                        left: 100%;
                        top: 100%;
                        margin: -5px 0px 0px -30px;
                        min-width: 100px;
                        line-height: 0;
                        &.show{
                            opacity: 1;
                        }
                        .moreMenuItems{
                            .moreMenuItem{
                                padding: 12px 8px;
                                button{
                                    font-size: 18px;
                                    font-weight: 300;
                                    padding: 0;
                                    background: var(--ion-theme-none-color);
                                    width: 100%;
                                    span{
                                        margin-right: 8px;
                                        position: relative;
                                        top: 3px;
                                        left: -2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            ion-col{
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (max-width: 1200px){
    .mainSection .customContainer .leftSidebar{min-width: 320px;}
    .mainSection .customContainer .leftSidebar .logoLeft{max-width: 145px;}
    .mainSection .customContainer .rightSidebar{padding: 40px;}
    .mainSection .customContainer .rightSidebar .cardboxWrapper .cardBox{padding: 45px 0 40px 40px}
    .mainSection .customContainer .rightSidebar .cardboxWrapper .cardBox p{font-size: 18px;}
    .mainSection .rightSidebar .title {padding: 0 15px;}
    .mainSection .rightSidebar .lgTitle {padding: 0 15px;}
    .mainSection .rightSidebar .cardboxWrapper .cardBoxContainer{padding: 0 15px 30px;}
    .mainSection .rightSidebar .cardboxWrapper .cardBoxContainer .cardBox .cardHeading{min-height: 180px;}
}
@media only screen and (max-width: 1140px){
    .mainSection .customContainer .leftSidebar{min-width: 25%;}
    .mainSection .customContainer .leftSidebar .btnWrapper{padding: 50px 25px;}
    .mainSection .customContainer .leftSidebar .navigationTop{padding: 0 54px;}
    .mainSection .customContainer .leftSidebar .navigationTop li a{font-size: 28px;}
    .mainSection .rightSidebar .cardboxWrapper .cardBoxContainer .cardBox .icon{top: 20px; right: 20px;max-width: 32px;}
    .mainSection .customContainer .rightSidebar .cardboxWrapper .cardBox{padding: 45px 0 40px 15px;}
}

@media only screen and (max-width: 991px){
    .mainSection .customContainer .leftSidebar{min-width: 35%;}
    .mainSection .rightSidebar .cardboxWrapper .cardBoxContainer{-webkit-box-flex: 0; flex: 0 0 50%; max-width: 50%;}
}