<ion-content>
  <section class="mainSection">
      <div class="customContainer">
          <div class="leftSidebar">
              <div class="logoLeft">
                <a [routerLink]="['/home']">
                      <img src="./assets/images/logo-g.png" title="my home | logo">
                  </a>
              </div>
              <ul class="nav navigationTop">
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/parties']">Parties</a></li>
                <li><a [routerLink]="['/rooms']">Rooms</a></li>
                <li><a [routerLink]="['/miscellaneous']" class="active color-g">Miscellaneous</a></li>
                <li><a [routerLink]="['/conclusion']">Conclusion</a></li>
            </ul>
          </div>
          <div class="rightSidebar">
              <div class="title">
                  <p>Übergabeprotokoll</p>
              </div>
              <div class="lgTitle mb-5">
                  <h1 class="heading">Miscellaneous</h1>
                  <div class="editLink">
                      <span class="inlineBlock">
                <a href="#" class="btn btn-sm btn-g">
                  <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
                </a>
              </span>
                  </div>
              </div>
              <div class="formWrapper">
                  <h3>Key directory</h3>
                  <div class="formContainer">
                    <div class="field" *ngFor="let keyDirectory of keyDirectoryArray;let i = index">
                        <div (click)="goToDropDown(i,'Key')" class="cstmSelect">{{keyDirectory.key_name}}</div>
                        <div class="outCome">{{keyDirectory.key_value}}</div>
                        <span class="icon">
                          <img src="./assets/images/icon-caret-b.png" alt="icon-caret">
                        </span>
                    </div>
                  </div>
              </div>

              <div class="formWrapper">
                  <h3>General</h3>
                  <div class="formContainer">
                    <div class="field" *ngFor="let miscellaneousGeneral of miscellaneousGeneralList;let i = index">
                        <div (click)="goToDropDown(i,'General')" class="cstmSelect">{{miscellaneousGeneral.key_name}}</div>
                        <div class="outCome">{{miscellaneousGeneral.key_value}}</div>
                        <span class="icon">
                          <img src="./assets/images/icon-caret-b.png" alt="icon-caret">
                        </span>
                    </div>
                  
                    <div class="textareaWrapper">
                    <textarea name="" id="" cols="" rows=""></textarea>
                    <span class="floatTitle">Notes</span>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</ion-content>