
<ion-content>
    <section class="mainSection">
        <div class="customContainer">
            <div class="leftSidebar">
                <div class="logoLeft">
                    <a [routerLink]="['/home']">
                        <img src="./assets/images/logo-g.png" title="my home | logo">
                    </a>
                </div>
                <ul class="nav navigationTop">
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li><a [routerLink]="['/parties']">Parties</a></li>
                    <li><a [routerLink]="['/rooms']" class="active color-g">Rooms</a></li>
                    <li><a [routerLink]="['/miscellaneous']">Miscellaneous</a></li>
                    <li><a [routerLink]="['/conclusion']">Conclusion</a></li>
                </ul>
            </div>
            <div class="rightSidebar">
                <div class="title">
                    <p>Übergabeprotokoll</p>
                </div>
                <div class="lgTitle">
                    <h1 class="heading">Rooms</h1>
                    <div class="editLink">
                        <span class="inlineBlock">
                  <a href="#" class="btn btn-sm btn-g">
                      <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon> 
                  </a>
                </span>
                    </div>
                </div>

                <div class="roomsContainer">
                    <div class="roomCardBox" *ngFor="let roomdata of roomCard;let i= index" [ngClass]="roomdata.complete ? 'completed' : ''" (click)="presentLoading()">
                        <h4>{{roomdata.title}}</h4>
                        <div class="bottomDiv">
                            <span class="green">{{roomdata.name}}</span>
                            <span class="components">{{roomdata.done}} / {{roomdata.component}} Bauteile</span>
                        </div>
                        <div class="crossKill" *ngIf="isCancel" (click)="eraseRoom(i)">
                            <ion-icon ios="ios-close" md="md-close"></ion-icon>
                        </div>
                        <span *ngIf="roomdata.complete" class="completedMark">
                            <img src="./assets/images/icon-check-w.png" alt="icon check">
                        </span>
                    </div>

                    <a class="roomCardBox addRoom" *ngIf="isCancel" [routerLink]="['/add-room']">
                        <span class="iconAdd"><ion-icon ios="ios-add" md="md-add"></ion-icon></span>
                        <p>Add new room</p>
                    </a>
                    <div class="editCircle roomCardBox" (click)="editClick()" *ngIf="!isCancel">
                        <a class="iconEdit">
                            <img src="./assets/images/icon-edit.png" alt="icon edit">
                        </a>
                        <span>Raum anpassen</span>
                    </div>

                    <div class="editCircle roomCardBox" (click)="editClick()" *ngIf="isCancel">
                        <a class="iconEdit">
                            <ion-icon ios="ios-close" md="md-close"></ion-icon>
                        </a>
                        <span>Cancel Selection</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </ion-content>